@use 'src/styles/variables' as *;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

html {
  box-sizing: border-box;
  background-color: $dark-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: $primary-color;
}

h2 {
  color: $primary-color;
}

.App {
  background-color: $dark-color;
}

.base-Popper-root {
  background-color: 'red' !important;
  translate: '-20% !important';
}
